article{
	border-bottom: $color-border;
	padding: 30px;
	position: relative;
	@media screen and (max-width: 800px){
		padding: 30px;
	}
	@media screen and (max-width: 600px){
	}
        padding: 45px 0 45px 45px;
	h1.title{
		font-weight: 300;
		line-height: 35px;
		margin-bottom: 20px;
                max-width: 500px;
		&, a{
                    color: $title-color;
                    text-decoration: none;
                    // border-bottom: 1px solid #CCC;
                    font-family: "freight-sans-pro", sans-serif;
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 700;
                    -webkit-font-smoothing: antialiased;
		}
	}

        h2 {
            max-width: 500px;
            font-size: 20px;
            font-weight: 600;
            color: $article-h2-color;
            margin-top: 20px !important;
            margin-bottom: 20px;
        }

	.entry-content{
		line-height: 2;
		// text-align: justify;
		a{
			&:hover{
				text-decoration: underline;
			}
		}
		.more-link{
			display: block;
			margin-top: 16px;
			padding-left: 30px;
			position: relative;
			&:before{
				content: "\f061";
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
		}
		p, blockquote, ul, ol, dl, table, iframe, h1, h2, h3, h4, h5, h6, .video-container{
			margin-top: 10px;
                        max-width: 500px;
		}
		ul, ol, dl{
			margin-left: 20px;
			ul, ol, dl{
				margin-top: 0;
			}
		}
		strong{
			font-weight: bold;
		}
		em{
			font-style: italic;
		}
		p{
			margin-top: 10px;	
		}


//		h2{
//			font-weight: 300;
//			border-bottom: $color-border;
//			position: relative;
//			&:before{
//				content: "";
//				position: absolute;
//				bottom: -2px;
//				border-bottom: $color-border;
//				width: 100%;
//			}
//		}
		img, video{
			max-width: 100%;
			height: auto;
		}
		blockquote{
                        font-style: italic;
                        font-family: "Book Antiqua", "Palatino Linotype", serif;
                        background: transparent url("/images/quote.png") no-repeat;
                        background-size: 30px 30px;
                        background-position: 0px 15px;
			padding: 15px 20px 15px 45px;
			margin-top: 10px;
			& > p:first-of-type{
				margin-top: 0;
			}
		}
		iframe{
			border: none;
		}
		table{
			background: transparent;
			border: $color-border;
			border-spacing: 0;
			margin-top: 10px;
			th{
				background: transparent;
				padding: 0 15px;
			}
			td{
				text-align: center;
			}
			tr{
				&:nth-of-type(2n){
					background: #d5d5d5;
				}
			}
		}
		.caption{
			display: block;
			font-size: 0.9em;
			color: $content-color;
			padding-left: 25px;
			position: relative;
			&:before{
				content: "\f040";
				color: $content-color;
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
		}
		.video-container{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			iframe, object, embed{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				margin-top: 0;
			}
		}
	}
}
.share{
	padding: 15px 0;
	@include border-shadow();
}
