$header-height: 30px;

#header > * {
margin: 0 30px;
}

#header {
    background-color: $header-bg;
    font-size: 14px;
    line-height: 18px;
    width: 27%;
    padding: 0;

    position: fixed;
    z-index: 1;
    min-height: 100%;
    min-width: 240px;

    @media (max-width: 888.88px) and (min-width: 630px) {
        width: 240px;
    }
    @media (max-width: 630px) {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        text-align: center;
        margin: 0;
        padding: 0;
        min-height: 0;
    }
}

#content {

    background-color: $main-bg;
    margin-left: 27%;
    min-width: 658px;
    position: relative;
    z-index: 10;
    border-left: $color-border;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    min-height: 900px;
    z-index: 99999;


    @media (max-width: 888.88px) and (min-width: 630px) {
        margin-left: 240px;
    }
    @media (max-width: 630px) {
        margin: 0;
        padding: 0;
        border-left: none;
        border-top: $color-border;
        display: block;
        width: auto;
        min-width: 0;
        margin-top: 15px;
        clear: both;
        position: absolute;
        width: 100%;
        max-width: 100%;
    }

}

#logo {
margin-top: 30px;
}

#header #title a {
    font-family: "freight-sans-pro",sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    border: none;
    padding: 0;
    display: block;
    color: $title-color;
}

#author {
    font-family: "freight-sans-pro",sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 16px;
    border: none;
    padding: 0;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $author-color;
}

#tagline, #likes {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: $subtitle-color;
    -webkit-font-smoothing: antialiased;
    max-width: none;
    margin-bottom: 25px;
}

@media (min-width: 630px) {
    #main-nav li {
        display: block;
        clear: both;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    #main-nav a {
        display: inline-block;
        width: 110px;
        font-size: 15px;
        line-height: 14px;
        border: 4px solid $link-color;
        &:hover {
            border-color: $link-color-hover;
            -webkit-transition: color 0.3s, border-color 0.3s;
            transition: color 0.3s, border-color 0.3s;
        }
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        z-index: 999;
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        // color: $link-color;
        //margin-left: -15px;
        font-weight: 600;
        position: relative;
    }
}

#header{

//	height: $header-height;
//	padding: 30px 0;
//	border-bottom: 1px solid $color-gray04;
//	line-height: $header-height;
//	@media screen and (max-width: 1040px){
//		height: auto;
//		position: relative;
//		padding-bottom: 10px;
//	}

	h1{
                margin-top: 20px;
                margin-bottom: 10px;
		font-weight: 900;
		font-size: 30px;
		@media screen and (min-width: 630px){
			float: none;
		}
	}
}
#main-nav{
	float: left;
	margin-left: 30px;
        margin-bottom: 15px;
	@media screen and (max-width: 1040px){
		float: none;
	}
	>ul{
		@media screen and (max-width: 600px){
		//	display: none;
		}
		>li{
                        list-style: none;
			// margin-left: 50px;
			@media screen and (max-width: 630px){
                            @include inline-block;
                        }

			@media screen and (max-width: 1040px){
				margin-left: 0;
				// margin-right: 50px;
				&:last-of-type{
					margin-right: 0;
				}
			}
			&:hover{
				>a{
					color: $link-color-hover;
				}
			}
			>a{
				// padding: 38px 0;
				// margin-top: -38px;
				&:after{
					content: "\f078";
					color: $color-gray03;
					font: 12px $font-icon;
					padding-left: 10px;
				}
				&:only-child{
					&:after{
						content: "";
					}
				}
			}
		}
		ul{
			position: absolute;
			top: 60px;
			left: -15px;
			z-index: 10;
			white-space: nowrap;
			background: $color-gray04;
			border: $color-border;
			list-style: none;
			display: none;
			@media screen and (max-width: 1040px){
				top: 40px;
			}
			@include box-shadow(0 4px 8px rgba(0,0,0,0.1));
			@include border-radius(0 0 5px 5px);
			ul{
				@include border-radius(0 5px 5px 5px);
			}
			li{
				@include border-shadow($color-background, $color-gray03);
				&:hover{
					background: #d5d5d5;
				}
				&:first-of-type{
					border-top: none;
					ul{
						@include border-radius(0 0 5px 5px);
					}
				}
				&:last-of-type{
					border-bottom: none;
				}
				>a{
					display: block;
					padding: 5px 15px;
					&:after{
						content: "\f054";
						color: $color-gray02;
						font: 12px $font-icon;
						padding-left: 10px;
					}
					&:hover{
						color: $color-gray01;
					}
					&:only-child{
						&:after{
							content: "";
						}
					}
				}
			}
			ul{
				top: 0;
				left: 100%;
			}
		}
		li{
			position: relative;
			&:hover{
				>ul{
					display: block;
				}
			}
		}
	}
	select{
		display: none;
		margin-bottom: 10px;
		@media screen and (max-width: 600px){
			display: block;
		}
	}
}
#mobile-nav{
	display: none;
	height: 37px;
	position: relative;
	@media screen and (max-width: 600px){
		// display: block;
	}
	a{
		display: block;
	}
	.button{
		cursor: pointer;
	}
	.container{
		display: none;
	}
	.menu{
		position: relative;
		width: 100%;
		.button{
			background: #f2f2f2;
			border: $color-border;
			color: #999;
			padding: 0 60px 0 10px;
			position: relative;
			@include border-radius(5px);
			&:hover{
				color: #999;
			}
			&.on{
				color: #666;
				@include border-radius(5px 5px 5px 0);
				&:before{
					content: "\f077";
				}
			}
			&:before{
				content: "\f078";
				color: $color-gray04;
				font: 16px $font-icon;
				line-height: 30px;
				position: absolute;
				top: 0;
				right: 40px;
			}
		}
		.container{
			background: #f2f2f2;
			border: $color-border;
			border-top: none;
			position: absolute;
			top: 31px;
			z-index: 1;
			@include border-radius(0 0 5px 5px);
			ul{
				list-style: none;
				ul{
					margin-left: 20px;
				}
			}
			a{
				padding: 0 10px;
			}
		}
	}
}
#sub-nav{
	@media screen and (max-width: 1040px){
		// position: absolute;
		top: 30px;
		right: 0;
	}
	@media screen and (max-width: 600px){
		//display: none;
	}
	.social{
		float: left;
		margin-right: 15px;
		@media screen and (max-width: 1040px){
			float: none;
			margin-right: 0;
			a:last-of-type{
				margin-right: 0;
			}
		}
		a{
			@include border-radius(50%);
			@include inline-block;
			text-indent: -9999px;
			margin-right: 15px;
			opacity: 0.5;
			@include square(28px);
			@include transition(0.3s);
			&:hover{
				opacity: 1;
			}
			&.email{
				background: image-url('social/email.png') center no-repeat rgb(190,64,55);
				border: 1px solid rgb(190,64,55);
				&:hover{
					border: 1px solid darken(rgb(190,64,55), 10%);
				}
			}
			&.facebook{
				background: image-url('social/facebook.png') center no-repeat #3B5998;
				border: 1px solid #3B5998;
				&:hover{
					border: 1px solid darken(#3B5998, 10%);
				}
			}
			&.google{
				background: image-url('social/google.png') center no-repeat #C83D20;
				border: 1px solid #C83D20;
				&:hover{
					border: 1px solid darken(#C83D20, 10%);
				}
			}
			&.twitter{
				background: image-url('social/twitter.png') center no-repeat #55CFF8;
				border: 1px solid #55CFF8;
				&:hover{
					border: 1px solid darken(#55CFF8, 10%);
				}
			}
			&.github{
				background: image-url('social/github.png') center no-repeat rgb(175,182,202);
				border: 1px solid rgb(175,182,202);
				&:hover{
					border: 1px solid darken(rgb(175,182,202), 10%);
				}
			}
			&.linkedin{
				background: image-url('social/linkedin.png') center no-repeat #005A87;
				border: 1px solid #005A87;
				&:hover{
					border: 1px solid darken(#005A87, 10%);
				}
			}
			&.pinterest{
				background: image-url('social/pinterest.png') center no-repeat rgb(190,64,55);
				border: 1px solid rgb(190,64,55);
				&:hover{
					border: 1px solid darken(rgb(190,64,55), 10%);
				}
			}
			&.delicious{
				background: image-url('social/delicious.png') center no-repeat rgb(50,113,203);
				border: 1px solid rgb(50,113,203);
				&:hover{
					border: 1px solid darken(rgb(50,113,203), 10%);
				}
			}
			&.rss{
				background: image-url('social/rss.png') center no-repeat #EF7522;
				border: 1px solid #EF7522;
				&:hover{
					border: 1px solid darken(#EF7522, 10%);
				}
			}
		}
	}
}
